.footer{
    width: 90%;
    height: 50px;
    background: linear-gradient(148deg, rgb(46, 76, 177) 0%, rgb(36, 68, 143) 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: row;
}


.linkFooter{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    &:hover{
        border: none;
    }
}